/* style.css */

.card {
    max-width: 800px;
    margin: 180px auto;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .card img {
    width: 750px;
    height: 600px;
    border-radius: 10px;
  }

  .head {
    color: white;
    text-align: center;
    padding: 5px;
  }